{% extends "base.html" %}

{% block content %}

{% load static %}
<div class="flex items-center min-h-screen justify-center"></div>
	<div class="flex-row bg-white rounded-lg">
		{% if form.errors %}
			{% for field, errors in form.errors.items %}
				{% for error in errors %}
					{{field}}: {{ error|escape }}
				{% endfor %}
			{% endfor %}
		{% endif %}
		<img src="{% static 'images/logo.png' %}" alt="Logo" class="h-18 w-56 mt-8 mx-48 justify-center">
		<div class="flex justify-center text-xl">
			<b class="pt-8">Acesso ao gerenciador</b><br>
		</div>
		<form method="post" action="{% url 'login' %}" class="mt-10 space-t-15 bg-white px-20 pb-8">
			{% csrf_token %}
			<div class="mt-8">
				<label for="email" class="block text-sm font-semibold leading-6 text-zinc-800">E-mail</label>
				<input required name="email" type="email" label="E-mail" placeholder="Digite seu e-mail" class="mt-2 bg-gray-200 block w-full rounded text-zinc-900 placeholder:text-zinc-900 sm:text-xs focus:ring-0 sm:leading-6 py-3"/>
			</div>
			<div class="mt-8">
				<label for="senha" class="block text-sm font-semibold leading-6 text-zinc-800">Senha</label>
				<input required name="senha" type="password" label="Senha" placeholder="Digite sua senha" class="mt-2 bg-gray-200 block w-full rounded text-zinc-900 placeholder:text-zinc-900 sm:text-xs focus:ring-0 sm:leading-6 py-3"/>
			</div>
			<div class="flex my-2 justify-end">
				<a class="pt-2 pb-2 text-xs underline decoration-gray-200" href="login.html">Esqueci a senha</a><br>
			</div>
			<div class="flex justify-center">
				<button class="rounded-lg bg-ze-verde1 hover:bg-ze-verde2 text-sm font-semibold leading-6 text-white active:text-white/80 text-base px-24 py-4">Acessar</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}